@import url('reset.css');
@import url('menu.css');
@import url('game.css');

:root {
    font-size: 62.5%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: rgb(9, 9, 56);
    font-size: 1.6rem;
    border-bottom: 4rem solid rgb(15, 73, 15);
}