body {
    height: 100vh;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    height: 90px;
    background-color: #000000;
    color: #ffffff;
    padding: 20px;
}

.menu-score h2, 
.menu-time h2,
.menu-lifes h2 {
    color: #c42e2e;
}

.menu-score span, 
.menu-time span,
.menu-lifes span {
    color: #ffffff;
}

.menu-lifes {
    display: flex;
    align-items: center;
    gap: 4px;
}

.menu-lifes img {
    width: 60px;
}

main {
    display: grid;
    place-content: center;

    width: 100%;
    height: calc(100% - 130px);
}

.panel {
    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid #c42e2e;
}

.square {
    width: 150px;
    height: 150px;
    border: 1px solid #000000;
}

.enemy {
    background: #c42e2e;
}