@import url('reset.css');

:root {
    font-size: 62.5%;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    min-height: 100vh;
    background: #222;
    font-size: 1.6rem;
    user-select: none;
}

.container {
    position: relative;
    flex-direction: column;
    gap: 3rem;
    background: white;
    border-radius: 1.2rem;
    padding: 4rem 6rem;
    box-shadow: 0px 12px 10px rgba(0, 0, 0, 0.4);
}

h2 {
    color: #222;
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
}

.game {
    display: grid;
    place-content: center;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;

    width: 64rem;
    height: 64rem;
    padding: 2rem;
    /* border: 1px solid #222; */

    transform-style: preserve-3d;
    perspective: 50rem;
}

.card {
    position: relative;
    background: white;
    border: 1px solid #222;
    font-size:  4rem;

    transform: rotateY(180deg);
    transition: 0.25s;
    cursor: pointer;
}

.card::after {
    content: '';
    position: absolute;
    inset: 0;
    background: #222;
    transition: 0.25s;
    transform: rotateY(0deg);
    backface-visibility: hidden;
}

.card.open {
    transform: rotateY(0deg);
}

.open::after,
.cardMatch::after {
    transform: rotateY(180deg);
}

#resetButton {
    width: 100%;
    background: #222;
    color: #fff;

    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.3rem;

    border: none;
    border-radius: 1.2rem;
    padding: 1.5rem 2rem;
    cursor: pointer;

    transition: .4s;
}

#resetButton:hover {
    background: #444444;
}