@import url("reset.css");

:root {
    font-size: 62.5%;
}

.flex {
    display: flex;
    align-items: center;
}

body {
    display: grid;
    place-content: center;
    height: 100vh;
    background: rgb(224, 253, 224);
    font-size: 1.6rem;
}

main {
    background: black;
    padding: 4rem;
    border-radius: 2.4rem;
}

section {
    display: flex;
}

section.header {
    align-items: center;
    justify-content: space-between;
    color: white;
    margin-bottom: 4rem;
}

#controls {
    gap: 2rem;
}

.volume-slider {
    flex-direction: column-reverse;
    gap: 5px;
}

input[type="range"]{
    width: 100px;
}

.keys-check {
    gap: 10px;
}

#keysCheck {
    position: relative;
    width: 3.6rem;
    height: 2rem;
    appearance: none;
    border: 1px solid rgb(24, 24, 24);
    border-radius: 999px;
    padding: .2rem;
    transition: .4s;
    cursor: pointer;
}

#keysCheck::before {
    position: absolute;
    content: "";
    width: 1.3rem;
    height: 1.3rem;
    background: white;
    border-radius: 50%;
    transition: .4s;
}

#keysCheck:checked {
    background: #005CC8;
}

#keysCheck:checked::before {
    transform: translateX(17px);
}

section#pianoKeys {
    position: relative;
    gap: 2px;
    user-select: none;
}

#pianoKeys .key:first-child {
    border-top-left-radius: 1.2rem;
}

#pianoKeys .key:last-child {
    border-top-right-radius: 1.2rem;
}

.key {
    display: flex;
    align-items: end;
    justify-content: center;
    color: rgb(63, 63, 63);
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    cursor: pointer;

    box-shadow: black -1px 2px 7px 0px inset
}

.key.whiteKey {
    height: 25rem;
    width: 100%;
    background: white;
    padding: 2.5rem;
}

.key.whiteKey:hover {
    background: rgb(218, 218, 218);
}

.key.blackKey {
    position: absolute;
    left: calc(43px * var(--position));
    width: 3.3rem;
    height: 15rem;
    background: rgb(24, 24, 24);
    padding-bottom: 1rem;

    box-shadow: 1px 1px 10px black;
}

.key.blackKey:hover {
    background: rgb(51, 51, 51);
}