@import url("reset.css");
@import url("containers_and_frames.css");
@import url("buttons.css");

:root {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

/* Classe utilitárias */
.frame {
    border: 3px solid #000;
    border-radius: 5px;
}

/* Estilização normal */
.bg-video {
    position: absolute;
    display: flex;
    justify-content: end;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: -2;
}

.bg-video::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(
        90deg,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 0.8) 50%,
        rgba(0, 0, 0, 1) 100%
    );
}

.bg-video .video {
    height: 100vh;
}

.container {
    position: relative;
    display: flex;
    height: 100vh;
    z-index: 3;
}

.container_left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 35%;
    min-width: 30rem;
}

.score_box, .card_details {
    background: #fff;
    padding: 3rem;
}

.card_details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 12rem;
}

#card-name {
    font-size: 1.4rem;
}

.container_right {
    width: 65%;
}

.card_box_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    padding: 1rem;
}

.card-battle {
    display: flex;
    flex-direction: column;
}

.card-battle-top, 
.card-battle-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.card-battle-bottom {
    margin-top: 3rem;
}

.card-infield {
    height: 18rem;
    width: 12.5rem;
    border-radius: .8rem;
}

#next-duel {
    display: none;
}

.card_box {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 20rem;
}

#player-cards .card {
    cursor: pointer;
    transition: transform .3s;
}

#player-cards .card:hover {
    transform: scale(1.2);
}